* {
    border: 2px solid red;
    background-color: #e0ebeb;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.home1,
.box1 {
    color: purple;

}

.home1,
.page2 {
    font-size: 40px;
    text-align: center;
}

.box1 {
    font-size: 22px;
    text-align: center;
}
.chk {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* line below rotates image */
    /* transform:rotate(-90deg); */
}

.h5,
.p1 {
    text-align: center;
}

.h5 {
    font-size: 25px;
}

.p1,
.box2 {
    font-size: 20px;
}

.box2 {
   text-align: left;
   margin-left: 25%;
}

