* {
    background-color: #e0ebeb;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.home1,
.box1 {
    color: purple;

}

.home1 {
    font-size: 40px;
    text-align: center;
}

.box1 {
   border: solid transparent;
   border-right-width: 2px;
   margin-right: 400px;
   margin-left: 400px;
   padding-left: 50px;
    font-size: 22px;
    text-align: left;
}